<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/easion.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="../js/chart-js-config.js"></script>
    <title>Yakuza - Dashboard</title>
</head>

<body>
    <div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a onclick="location.href='/dashboard'" href="" class="easion-logo"><i class="fas fa-sun"></i> <span>Yakuza</span></a>
            </header>
            <nav class="dash-nav-list">
                <a onclick="location.href='/dashboard'" href="" class="dash-nav-item">
                    <i class="fas fa-home"></i> Dashboard </a>
              
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <div class="tools">
 <% if(user && user.id) { %>
<button class=" btn-sm" 
style="background-color:#4100a3; color:#fff;border: 8px solid #4100a3;letter-spacing: 0.1em;font-weight: 750;width: 100%;"onclick="location.href='/logout'" type="button">
<img class="img-fluid img-circle round" style="width: 50px; height: 50px; border-radius: 50%; border: 8px; border: 8px solid #4100a3;"
 alt="user" width="128"  src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png" alt="Avatar"> LOGOUT!</button>
                <% }else { %>
                    <button class="btn btn-success btn-sm" 
                    style="letter-spacing: 0.1em;font-weight: 750;width: 100%;"
                    onclick="location.href='/login'" type="button"><span class="iconify" data-icon="simple-icons:discord"></span> Login</button>
                <% } %>
                  
             </div>

            </header>

                  <main class="dash-content">
<div class="container-fluid">

<div class="content-wrapper">
<div class="container-full">
<section class="content">
<div class="row">
<div class="col-xl-3">
<div class="card profile">
<div class="card-body">
<center class="m-t-30">
<img class="img-fluid img-circle round" style="width: 128px; height: 128px; border-radius: 50%; border: 8px; border: 8px solid #dfdfdf;"
 alt="user" width="128"  src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png" alt="Avatar">

  
<br>
<br>
<h4><span style="font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));"><%= user.username %></span><span style="color:#01E6CE; font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));">#<%= user.discriminator %></span></h4>
</center></div>
</div> 
<br> 

	
<br> 	
		
</div>
<div class="col-xl-9">

<div class="col-xl-14">


<div class="card">
<div class="card-body">
<div class="tab height-100-p">
<ul class="nav nav-pills m-t-30 m-b-30">
<li class=" nav-item"> <a href="#profil" class="nav-link active" data-toggle="tab" aria-expanded="false"><i class="fa fa-tasks"></i> Servers</a> </li>
</ul>
<br>
<div class="tab-content">
<div class="tab-pane fade show active" id="profil" role="tabpanel">
<div class="pd-20">
<div class="profile-timeline">
  <% if(user && user.id){ %>
                <div style="display: flex; flex-wrap: wrap; justify-content: center">
                    <% user.guilds.filter(guild=>{
                        const permsOnGuild = new Permissions(guild.permissions_new);
                        if(permsOnGuild.has(Permissions.FLAGS.MANAGE_GUILD)) return guild;
                    }).sort((a, b) => {
                        return (bot.guilds.cache.get(a.id) == bot.guilds.cache.get(b.id)) ? 0 : a ? -1 : 1;
                    }).forEach(guild => {
                    %>
                        <div class="card text-white bg-dark mb-3">
                            <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 250px;width: 250px;" border: 4px solid red>` : `<img src="https://cdn.discordapp.com/attachments/765919453766352916/877787616974622770/wCfHtuoejLIbAAAAABJRU5ErkJggg.png" class="card-img-top" style="max-width: 250px;width: 250px;">` %>
                            <div class="card-img-overlay text-grey h-100 d-flex flex-column justify-content-end" style="background: #000000b0;max-width: 250px;width: 250px;">
                                <h5 class="card-title text-primary" style="font-size: 25px;"><%= guild.name %></h5>
                                <% if(bot.guilds.cache.get(guild.id)){ %>
                                    <a style="font-size: 25px" href=" <%- botconfig.domain %>/dashboard/<%- guild.id %>"
                                        class="mt-auto btn btn-lg btn-block btn-success"> Dashboard</a>
                                    
                                <% }else {  %>
                                    <a style="font-size: 25px" 
                                    href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_url=${encodeURIComponent(`${callback}`)}`  %>"
                                        class="mt-auto btn btn-lg btn-block btn-primary">Invite me!</a>
                                    
                                <% } %>
                            </div> 
                        </div>
                    <% }) %>
                </div>
            <% }else {  %>
                    <p>Please login First!</p>
            <%  } %>
</div>
</div>
</div>	
		
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section></div>
</div>

<script>
$(function()
{
$('[data-toggle="tooltip"]').tooltip();
$('[data-toggle="popover"]').popover();
});
</script>
</div>
</main>
                 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/easion.js"></script>
</body>

</html>