<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="../css/easion.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="../js/chart-js-config.js"></script>
<title>Yakuza - Dashboard</title>
</head>

<body>
<div class="dash">
<div class="dash-nav dash-nav-dark">
<header>
<a href="#!" class="menu-toggle">
<i class="fas fa-bars"></i>
</a>
<a href="index.html" class="easion-logo"><i class="fas fa-sun"></i> <span>Yakuza</span></a>
</header>
<nav class="dash-nav-list">
<a onclick="location.href='/'" class="dash-nav-item">
<i class="fas fa-home"></i> Dashboard </a>

<div class="nav-item dropdown">
<a class="dash-nav-item dash-nav-dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fas fa-chart-bar"></i> My servers
</a>
<div style="background-color: #181F2C;" class="dash-nav dropdown-menu">

<% if(user && user.id){ %>
<div style="display: flex; flex-wrap: wrap; justify-content: center">
<% user.guilds.filter(guild=>{
const permsOnGuild = new Permissions(guild.permissions_new);
if(permsOnGuild.has(Permissions.FLAGS.MANAGE_GUILD)) return guild;
}).sort((a, b) => {
return (bot.guilds.cache.get(a.id) == bot.guilds.cache.get(b.id)) ? 0 : a ? -1 : 1;
}).forEach(guild => {
%>
<% if(bot.guilds.cache.get(guild.id)){ %>
<a href="<%- botconfig.domain %>/dashboard/<%- guild.id %>" class="dash-nav-item">
<%= guild.name %> </a> 


<% }else {  %>

<a href="<%= `https://discordapp.com/oauth2/authorize?client_id=932419023176618034&scope=bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_url=${encodeURIComponent(`${callback}`)}`  %>" class="dash-nav-item"> <%= guild.name %> </a>  
<% } %>
<% }) %>
</div>
<% }else {  %>
<p>Please login First!</p>
<%  } %>
</div>
</div>


</nav>
</div>
<div class="dash-app">
<header class="dash-toolbar">

<div class="tools">

<% if(user && user.id) { %>
<button class=" btn-sm" 
style="background-color:#4100a3; color:#fff;border: 8px solid #4100a3;letter-spacing: 0.1em;font-weight: 750;width: 100%;"
onclick="location.href='/logout'" type="button"><img class="img-fluid img-circle round" style="width: 50px; height: 50px; border-radius: 50%; border: 8px; border: 8px solid #4100a3;"
alt="user" width="128"  src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png" alt="Avatar"> LOGOUT!</button>
<% }else { %>
<button class="btn btn-success btn-sm" 
style="letter-spacing: 0.1em;font-weight: 750;width: 100%;"
onclick="location.href='/login'" type="button"><span class="iconify" data-icon="simple-icons:discord"></span> Login</button>
<% } %>

</div>

</header>
<main class="dash-content">
<div class="container-fluid">
<div class="row dash-row">
<div class="col-xl-12">
<b><%= guild.name %></b> | Dashboard
<br><br></div>
<div class="col-md-12 col-lg-6 mx-auto">
<div class="card ">
<div class="card-body">
<div class="boxs">
<div class="box1 box">
<div class="containerB">
<h3 class="bigText"><%= guild.memberCount %></h3>
<p class="heading">Server members</p>
</div>                                      
</div>
<div class="box6 box">
<div class="containerB">
<h3 class="bigText"><%= guild.channels.cache.filter(c => c.type === 'GUILD_CATEGORY').size %></h3>
<p class="heading">Categories</p>
</div>
</div>
<div class="box2 box">
<div class="containerB">
<h3 class="bigText"><%= guild.channels.cache.filter(channels => channels.type === 'GUILD_TEXT').size %></h3>
<p class="heading">Text Channels</p>
</div>
</div>
<div class="box3 box">
<div class="containerB">
<h3 class="bigText"><%= guild.channels.cache.filter(c => c.type === 'GUILD_VOICE').size %></h3>
<p class="heading">Voice Channels</p>
</div>
</div>
<div class="box4 box">
<div class="containerB">
<h3 class="bigText"><%= guild.roles.cache.size %></h3>
<p class="heading">Roles</p>
</div>
</div>
<div class="box5 box">
<div class="containerB">
<h3 class="bigText"><%= guild.premiumSubscriptionCount %></h3>
<p class="heading">Boosts</p>
</div>
</div>
<a href="#" onclick="CopyToClipboard('sample');return false;"><i class="far fa-copy"></i> Copy Text</a>
<a href="https://easy-code.ro/discord/"><i class="far fa-question-circle"></i> Need Help?</a>
</div>
</div>
</div>
<div class="row">
<div class="col-14 col-sm-6 col-md-14">
<div class="card card-danger">
<div class="card-header">
<h3 class="card-title"><i class="fas fa-headset"></i> Need Support?</h3>
<div class="card-tools">
</div>
</div>
<div class="card-body">

<a href="https://dsc.gg/teddyandrew-support" type="button" class="btn btn-block btn-danger btn-lg"><i class="fab fa-discord"></i> Join Our Discord Server</a>

</div>
</div>
</div>
<div class="col-14 col-sm-6 col-md-14">
<div class="card card-primary">
<div class="card-header">
<h3 class="card-title"><i class="fas fa-robot"></i> Invite <strong>"Teddy Andrew</strong> Bot</h3>
<div class="card-tools">
</div>
</div>
<div class="card-body">

</div>




</div>



</div>
</div>
</div>


<div class="col-md-12 col-lg-6 mx-auto">
<div class="card ">
<div class="card-body">
<form method="POST">
<h3 style="padding-left: 40px; font-family: var(--font2);">Prefix</h3>
<p style="padding-left: 40px">Change the bot's prefix that triggers the bot.</p>
<div class="form-group row" style="padding-left: 40px">
<div class="col-sm-10">
<input style="margin-top: -10px;" type="text" class="form-control" name="prefix" value="<%= bot.settings.get(guild.id, 'prefix') %>" placeholder="Your Prefix">
</div>
</div>
<div style="text-align: center">
<button type="submit" class="save text-white" style="font-size: 40px;">
<i class="iconify" data-icon="cil:save"></i> test
</button>

<div class="row justify-content-center" style="    padding-bottom: 20px;"></div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../js/easion.js"></script>
</body>

</html>


